.display-4 {
    font-size: 2.5rem;
}

.list-group-item {
    background-color: transparent;
}

.icon-col {
    width: 4rem;
    text-align: center;
}

.big-icon {
    font-size: 2.5rem;
}

.card {
    width: 17.5rem;
}

.medal {
    display: inline-block;
    width: 2rem;
    text-align: center;
}

.medal-gray {
    color: #e0e0d0;
}

.medal-bronze {
    color: #cd6839;
}

.medal-silver {
    color: #a0a0b0;
}

.medal-gold {
    color: #d9d919;
}